DISCORD_BOT_TOKEN=""
ROPT_API_TOKEN=""
CHANNEL_ID=""
GUILD_ID=""
# LOL Personal API Key has following Rate Limits
API_RATE_LIMIT_2_MINUTE=200
API_RATE_LIMIT_SECOND=20

# This is used for CI/CD (Continuous Integration/Continuous Deployment) processes.
GITHUB_TOKEN=""
GITHUB_USERNAME=""
DEVELOPMENT=False